# Logs
logs
*.log

# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
*.local

# Rust build
backend/target
backend/Cargo.lock
*.db

# Editor
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist/